<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand bgsidebar d-flex align-items-center justify-content-center" routerLink="/dashboard">
    <img src="/assets/img/logo.png">
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tổng quan</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Chức năng bán hàng
  </div>

  <li class="nav-item">
    <a class="nav-link" routerLink="/main/product">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Quản lý sản phẩm</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/main/category">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Quản lý danh mục sản phẩm</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/main/banner">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Quản lý banner</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/main/payment">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Quản lý đơn hàng</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/main/customer">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Tư vấn khách hàng</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/main/about">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Thông tin giới thiệu</span>
    </a>
  </li>
  <div class="sidebar-heading">
    Chức năng của hệ thống
  </div>

  <li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <span>Quản lý hệ thống</span>
    </a>
    <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-color py-2 collapse-inner rounded">
            <!-- Nav Item - Charts -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/main/menumanager">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Quản lý menu</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/main/usermanager">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Quản lý người dùng</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/main/role">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Quản lý chức vụ</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/main/permissions">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Quản lý quyền</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/main/rolepermission">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Cấu hình chức vụ,quyền</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/main/config">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Cấu hình hệ thống</span>
                </a>
              </li>

        </div>
    </div>
</li>



</ul>
