<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-7">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nhập từ khóa tìm kiếm</span>
      </div>
      <input type="text" class="form-control" (keyup)="onKeyUpSearch($event)" placeholder="Nhập từ khóa tìm kiếm...">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <button type="button" id="btnOpenModal" class="btn btn-primary" data-title="Thêm mới banner" data-modal="modal_Banner_Add">Thêm mới</button>
    &nbsp;
    &nbsp;
    <button type="button" id="btnSearch" (click)="Search()" class="btn btn-primary">Tìm kiếm</button>
  </div>
  <div class="col-md-4">

  </div>

</div>

<table class="table table-striped mt-20">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Đường dẫn</th>
      <th scope="col">Vị trí</th>
      <th scope="col">Người tạo</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of Data; let i = index" [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td [innerHTML]="item.url"></td>
        <td [innerHTML]="item.position"></td>
        <td [innerHTML]="item.createByName"></td>

        <td>
          <img class="img-action" (click)="Edit(item.id)" title="Sửa" src="/assets/img/edit.png"/>
          &nbsp;
          <img class="img-action" (click)="OpenModalDelete(item.id)" title="Xóa" src="/assets/img/remove.png"/>
        </td>
    </tr>
  </tbody>
</table>

<app-pagination (onPaginationChange)="onPaginationChange($event)" [pageLast]="pageLast"
[page]="Request.page" [take]="Request.take" [totalArray]="totalArray" [total]="total" ></app-pagination>


<!-- Modal -->
<div class="modal fade" id="modal_Banner_Add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="ModelTitle" class="modal-title" ></h5>
        <button type="button" class="close" (click)="resetControl()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" method="post" (submit)="Save()">
        <div class="modal-body">
          <input type="text" class="form-control" hidden id="id" formControlName="id" [(ngModel)]="Item.id">
            <div class="form-group">
              <label for="url">Đường dẫn url <span class="red">(*)</span></label>
              <input type="text" class="form-control" id="url" formControlName="url" [(ngModel)]="Item.url" placeholder="Nhập tên đường dẫn">
              <div class="red" *ngIf="this.form.controls.url.errors?.required && (this.form.touched)">Vui lòng nhập đường dẫn url!</div>
            </div>
            <div class="form-group">
              <label for="position">Vị trí banner</label>
              <input type="text" class="form-control" id="position" formControlName="position" [(ngModel)]="Item.position" placeholder="Vị trí của banner">

            </div>
            <div class="form-group">
              <label for="img">Hình ảnh Banner <span class="red">(*)</span></label>
              <ngx-dropzone accept="image/jpeg,image/jpg,image/png,image/gif" [multiple]="false" (change)="onSelectFile($event)">
                <ngx-dropzone-label class="red">Chọn ảnh banner</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" class="imgdrop"  *ngFor="let f of this.files" [file]="f" [removable]="true" (removed)="onRemoveFile(f)">

                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="resetControl()" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
    </div>
  </div>
</div>
<app-delete (onDelete)="onDeleteItem()"></app-delete>
